<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mapper.OKS_mapper">

	<select id = "selectOne" resultType = "OKS" parameterType = "OKS">
		select * from OKS 
		<where>
			<choose>
				<when test = "email != null and pass != null">
					email = #{email} and pass = #{pass}
				</when>
			</choose>
		</where>
	</select>
	
	<select id = "chkDuplication" resultType = "OKS" parameterType = "String">
		select * from OKS where email = #{email}
	</select>
	
	<select id = "selectAllBoardList" resultType = "SKA_LIST">
		select * from SKA_LIST order by SKA_L_NO desc
	</select>
	
	<insert id = "insertOKS" parameterType = "OKS">
		insert into OKS (OKS_no, email, pass, nick) values (OKS_SEQ.nextval, #{email}, #{pass}, #{nick})
	</insert>
	
	<update id="oks_update" parameterType="OKS">
		update OKS set OKS_no = #{OKS_no}, email = #{email}, pass = #{pass}, nick = #{nick}, point = #{point}, regdate = #{regdate}
	</update>
	
	<select id="oks_find" parameterType="String" resultType="OKS">
		select * from OKS where email = #{email}
	</select>
	
	<select id = "getTotal" parameterType = "Map" resultType = "int">
		select count(*) from SKA_LIST
	 	<if test = "searchField == 'SKA_no'">
			where SKA_no like '%' || #{searchText} || '%'
		</if>
		<if test = "searchField == 'comt'">
			where comt like '%' || #{searchText} || '%'
		</if>
		<if test = "searchField == 'OKS_no'">
			where OKS_no like '%' || #{searchText} || '%'
		</if> 
	</select>
	
	<select id = "getTotal2" parameterType = "Map" resultType = "int"> <!-- 경매 목록 출력할 경우 -->
		
		select count(SKA_LIST.SKA_l_no) from SKA_LIST
		
		<if test = "board_List_Form  != 'all'">
		<where>
			<if test="board_List_Form == 'OKS_no'">	<!-- 내가 직접 쓴 경매 목록 불러오는 경우 -->
				SKA_LIST.OKS_no = #{O_n}
			</if>
		</where>
		</if>	
		order by SKA_L_NO desc
	</select>
	
	<select id = "getTotal3" parameterType = "Map" resultType = "int"> <!-- 경매 목록 출력할 경우 -->
		select count(*) from COMM where COMM.OKS_no = #{O_n} <!-- 내가 참여한 경매 목록을 불러오는 경우 -->
	</select>
	
	<select id = "listBoard" parameterType = "Map" resultType = "SKA_LIST">  <!-- 검색 기능 이용할 경우 -->
		select * from SKA_LIST
		
		<if test = "searchField != 'all'">
		<where>
			<if test = "searchField == 'SKA_no'">
				SKA_no like '%' || #{searchText} || '%'
			</if>
			<if test = "searchField == 'comt'">
				comt like '%' || #{searchText} || '%'
			</if>
			<if test = "searchField == 'OKS_no'">
				OKS_no like '%' || #{custid} || '%'
			</if>
		</where>
		</if>
		order by SKA_L_NO desc
	</select>	
	
	<select id = "listBoard2" parameterType = "Map" resultType = "SKA_LIST">
		select * from SKA_LIST
		<if test = "board_List_Form  != 'all'">
		<where>
			<if test="board_List_Form == 'OKS_no'">	<!-- 내가 직접 쓴 경매 목록 불러오는 경우 -->
				SKA_LIST.OKS_no = #{O_n}
			</if>
		</where>
		</if>	
		order by SKA_L_NO desc
	</select>
	
	<select id = "listBoard3" parameterType = "Map" resultType = "SKA_LIST">
		<!-- 내가 참여한 경매 목록(댓글을 단)을 가져와야 하는데, 각 글 하나에 해당하는 테이블과 그 글에 있는 댓글들 구분. 테이블이 꼬인 듯? -->
	</select>
	
	<select id = "Board_list" parameterType = "String" resultType = "SKA_LIST">
		select * from SKA_LIST
		<if test = "board_List_Form != 'all'">
		<where>
			<if test = "board_List_Form == 'OKS_no'">
				
			</if>
		</where>
		</if>
	</select>
	
</mapper>