<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mapper.STR_mapper">

	<insert id = "insert" parameterType = "STR">
		insert into STR(STR_no,
		 OKS_email,
		  name,
		   keyword,
		    category,
		      enter_code)
		       values(STR_SEQ.nextval,
		        #{OKS_email},
		         #{name},
		          #{keyword},
		           #{category},
		             #{enter_code})
	</insert>
	<!-- <update id="update" parameterType="STR">
	
	</update> -->
	<select id="selectAll" resultType="STR">
		select * FROM STR
	</select>
	<select id="selectMyList" resultType="STR" parameterType="OKS">
		select * FROM STR WHERE OKS_email = #{email}
	</select>
	<select id="selectOne" resultType="STR" parameterType="STR">
		select * FROM STR where enter_code = #{enter_code}
	</select>
	
	
</mapper>