/*A Design by W3layouts
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
*/
/* reset */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,dl,dt,dd,ol,nav ul,nav li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {display: block;}
ol,ul{list-style:none;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;}
/* start editing from here */
/* div.modal
{
   background-color: rgba(0,0,0,0.5);
} */
a{text-decoration:none;}
.txt-rt{text-align:right;}/* text align right */
.txt-lt{text-align:left;}/* text align left */
.txt-center{text-align:center;}/* text align center */
.float-rt{float:right;}/* float right */
.float-lt{float:left;}/* float left */
.clear{clear:both;}/* clear float */
.pos-relative{position:relative;}/* Position Relative */
.pos-absolute{position:absolute;}/* Position Absolute */
.vertical-base{	vertical-align:baseline;}/* vertical align baseline */
.vertical-top{	vertical-align:top;}/* vertical align top */
.underline{	padding-bottom:5px;	border-bottom: 1px solid #eee; margin:0 0 20px 0;}/* Add 5px bottom padding and a underline */
nav.vertical ul li{	display:block;}/* vertical menu */
nav.horizontal ul li{	display: inline-block;}/* horizontal menu */
img{max-width:100%;}
/*img[width],img[height]{width:auto;height:auto;} wordpress hack to reset the attributes (while making responsive) */
body{
	font-family:Arial, Helvetica, sans-serif;
}
article{
	font-size:16px;
	position:relative;
}
article img{
	margin:10px 0;
}
a{ color:#c52525;}
/* headings */
h1, h2, h3, h4, h5, h6{
	color:#565656;
}
h1{
	font-size: 24px;
	margin:0 0 .2em 0;
}
h2{
	font-size: 18px;
	margin:0 0 .3em 0;
}
h3{
	font-size: 16px;
	margin:0 0 .4em 0;
}
h4{
	font-size: 14px;
}
h5, h6{
	font-size: 12px;
}
h4, h5, h6{
	margin:0 0 .6em 0;	
}
/* paragraph */
p{
	line-height:26px;
	margin:0 0 16px 0;
}
/* TextFormatting */
strong, b {
	font-weight: bold;
}
i, cite, em, var, address, dfn {
	font-style: italic;
}
small {
	font-size: smaller;
}
del {
	text-decoration: line-through;
}
ins {
	text-decoration: underline;
}
sup {
	vertical-align: super;
}
sub {
	vertical-align: sub;
}
sub, sup{
	font-size: smaller;	
}
code, kbd, samp, pre, .pre-text {
font-family: monospace;
}
q{
	display:inline;
}
q:before {
content: open-quote;
}
q:after {
content: close-quote;
}
address{
	line-height: 22px;
	margin:0 0 16px 0;
}
abbr[title]{
	border-bottom:1px dotted #565656;
}
/* blcokquote */
blockquote{
	margin:16px 0 16px 40px;
}
/* pre */
pre, .pre-text{
	display: block;
	white-space: pre;
	margin: 1em 0px;
}
/* HTMl lists */
ul,ol,dl{
	display: block;
	margin:1em 0 1em 0;
}
ul, ol{
	padding-left: 40px;	
}
ul{
	list-style-type: disc;
}
ol{
	list-style-type: decimal;
}
dt, dd{
	display: block;	
	margin:0 0 0.5em 0;
}
dt{
	font-weight: bold;
}
dd {
	margin-left: 2em;
}
form label{
	font-size:12px;
	margin-bottom: 0.4em;
}
form input[type=text],
form input[type=password]{
	width:180px;
	
}
form input[type=text],
form input[type=password],textarea{
	border:1px solid #ddd;	
}
form input[type=text],
form input[type=password],textarea{
	-webkit-appearance:none;
	-moz-appearance:none;
}
form input[type="radio"]{
	position:relative;
	top:1px;
}
form textarea{
	width:180px;
	height:80px;
}
.label-top label{
	display:block;
}
label.inline{
	display:inline-block;
}
form label span.red{
	color:#ff0000;
}
form input[type=submit]{
	border:1px solid #ddd;
	background:#fff;
	color:#767676;
	margin:0;
	cursor: pointer;	
}
/*--------reset--------*/
body{
	background:#111;
	font-family:Verdana, Arial, Helvetica, sans-serif;
}
.wrap{
	width:1000px;
	margin:0 auto;
}
.logo{
	padding:10px 0 0 30px;
}
.logo a{
	margin:25px 0;
	color:#fff;
	font-size:40px;
	float:left;
}
.header{
	width:1000px;
	height:120px;
	margin:0 auto;
	background:#928f6e;
}
/*--nav--*/
.nav ul{
}
.nav li{
	float:left;
	text-align:center;
	display:inline-block;
}
.nav li.active{
	background:#928f6e;
	-webkit-border-bottom-left-radius:.4em;
       -moz-border-bottom-left-radius:.4em;
	        border-bottom-left-radius:.4em;
	-webkit-border-bottom-right-radius:.4em;
       -moz-border-bottom-right-radius:.4em;
	        border-bottom-right-radius:.4em;
}
.nav li.active a{
	color:#ffffeb;
}
.nav li a{
	color:#928f6e;
	font-size:13px;
	display:block;
	padding:10px 22px;
}
.nav li a:hover{
	color:#b0d40e;
}/*--login--*/
.login{
	margin-top:10px;
	color:#b0d40e;
}
.login li{
	text-align:center;
	display:inline-block;
}
.login li a{
	color:#b0d40e;
	font-size:13px;
	display:block;
}
.login li a:hover{
	color:#ffffeb;
}
.headerbox{
	float:right;
	margin-right:40px;
}
/*body content*/
.main{
	margin-top:-18px;
	background:#ffffeb;
}
article a{
	position:absolute;
	right:0;
	bottom:0;
	background:#b0d40e;
	color:#fff;
	font-size:10px;
	padding:4px;
	-webkit-border-radius:.2em;
       -moz-border-radius:.2em;
	        border-radius:.2em;
} 
article a:hover{
	background:#a0c00e;
}
.content{
	width:575px;
	border-right:1px solid #d8d5b5;
	padding:0 30px;
	margin-top:50px;
	float:left;
}
.content_update{
	width:100%;
	/* border-right:1px solid #d8d5b5; */
	padding:0 30px;
	margin-top:50px;
	float:left;
}
.content_update li{
	
}
.content h1{
	font-size:24px;
	color:#928f6e;
}
.content p{
	font-size:12px;
	margin-top:10px;
	line-height:1.8em;
	padding-bottom:10px;
	color:#928f6e;
}
.sidebar{
	width:300px;
	height: 650px;
	padding:30px;
	float:left;
}
.recent h3{
	margin-top:30px;
	padding-bottom:7px;
	color:#928F6E;
	font-size:20px;
	border-bottom:1px dashed #928F6E
}
.recent ul{
	padding-left:15px;
}
.recent li{
	list-style-image:url(../images/bullet.png);
	margin:10px 0;
}
.recent li a{
	font-size:12px;
	color:#928F6E;
}
.recent li a:hover{
	color:#B4B087;
}
.add{
	margin-top:30px;
}
/*--search--*/
.search{
	margin:30px 0 0 0;
	width:200px;
	padding:1px;
	border:none;
	background:#ffffeb;
	-webkit-border-radius:.8em;
       -moz-border-radius:.8em;
	        border-radius:.8em;
}
.search input[type="text"],
.search input[type="submit"]{
	background:none;
	border:none;
	outline:none;
	color:#d8d5b5;
}
.search input[type="text"]{
	margin-left:12px;
	width:150px;
}
.search input[type="submit"]{
	background:#b0d40e;
	color:#fff;
	cursor:pointer;
	-webkit-border-radius:.8em;
       -moz-border-radius:.8em;
	        border-radius:.8em;
}
.search input[type="submit"]:hover{
	background:#a0c00e;
}
/*--footer--*/
.f-menu{
	padding:20px;
	background:#928F6E;
	height:200px;
	position:relative;
}
.f-menu h4{
	color:#ffffeb;
	font-size:18px;
	padding-bottom:5px;
	border-bottom:1px dashed #ffffeb;
}
.f-menu ul{
	float:left;
	border-right:1px solid #a8a57f;
	padding-right:50px;
}
.f-menu ul:nth-child(3){
	border-right:none;
}
.f-menu li{
	list-style-type:none;
}
.f-menu li a{
	color:#ffffeb;
	font-size:13px;
	display:block;
	margin:10px 0;
}
.f-menu li a:hover{
	color:#fff;
}
.copy{
	position:absolute;
	left:60px;
	bottom:13px;
	color:#fffeeb;
	font-size:11px;
}
.copy a{
	color:#B0D40E;
}
.f-menu input[type=text]{
	background:#ffffeb;
	width:200px;
	padding:3px;
	border:none;
	outline:none;
	margin-bottom:15px;
	-webkit-border-radius:.2em;
	   -moz-border-radius:.2em;
			border-radius:.2em;
}
.f-menu input[type=submit]{
	margin-top:5px;
	background:#b4b087;
	color:#ffffeb;
	padding:3px 6px;
	cursor:pointer;
	border:none;
	-webkit-border-radius:.2em;
	   -moz-border-radius:.2em;
			border-radius:.2em;
}
.f-menu textarea{
	background:#ffffeb;
	outline:none;
	padding:3px;
	width:199px;
	height:60px;
	border:none;
	-webkit-border-radius:.2em;
	   -moz-border-radius:.2em;
			border-radius:.2em;
}
/* form */
.form{
	font-size:.8em;
	margin:1em 0 0 3em;
}
form label{
	font-size:15px;
	color:#928F6E;
	padding-bottom:5px;
}
form div{
	padding:15px;
}
form div:last-child{
	border-bottom:none;
}
form span{
	display:block;
	color:#aaa;
}
.form form input[type=text],
form input[type=password],
form textarea,
form input[type=text].error,
form input[type=password].error,
form select.error{
	padding:4px 5px;
	width:300px;
	font-size:14px;
	font-family:Arial, Helvetica, sans-serif;
	margin:10px 0;
	border:1px solid #928F6E;
	color:#928F6E;
	background:none;
}
.form form input[type=text]:focus,
form input[type=password]:focus,
form textarea:focus,
form select:focus{
	background:none;
	outline:none;
}
.content form input[type=submit]{
	cursor:pointer;
	color:#ffffeb;
	background:#928F6E;
	padding:5px 25px;
	border:none;
}
.content form input[type=submit]:hover{
	background:#B4B087;
	color:#FFF;
}
.content form textarea{
	height:100px;
	width:300px;
}
.error{
	display:inline;
	font-size:12px;
	font-weight:normal;
	padding:10px 0 0 10px;
	color:#FF0000;
}
select.error{
	padding:0;
}
/* content */
.content ul{
	margin:0 0 12px 0;
}
.content li{
	color:#C4AC9E;
	font-size:12px;
	line-height:22px;
}
.content h2,
.content h3{
	color:#D9C8BE;
	font-weight:bold;
	margin:12px 0;
}



/*MyCustom*/
.newP{
	display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 10px 16px;
}
.newI{
	font-size: xx-large; /* 폰트사이즈 안먹힘 부트스트랩 폰트 확인해야함. */
	padding: 30px;
	height: 250px;
	width: 500px
}
/*Scroll 안보이게*/
.scrollBlind{
	width:543px;
	height:600px;
	overflow-y:scroll;
}
.row{
	width:550px;
	height:600px;
	overflow-x:hidden;
	overflow-y:hidden;
}
/* 스크롤 끝 */
.myPageBox{
	width:570px;
	height:600px;
	overflow-x:hidden;
	overflow-y:hidden;
}

@charset "utf-8";
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);


/* Reset */
html,body{width:100%;height:100%}
html{overflow-y:scroll;font-size:12px}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,form,fieldset,p,button{margin:0;padding:0}
body,h1,h2,h3,h4,input,button{font-family:malgun gothic,'맑은고딕',Helvetica,AppleSDGothicNeo,sans-serif;font-size:12px;color:#383d41}
body{background-color:#fff;text-align:center;*word-break:break-all;-ms-word-break:break-all}
img,fieldset,iframe{border:0 none}
ul,li{list-style:none; padding:0; margin:0;}
input,select,button{vertical-align:middle}
img{vertical-align:top}
i,em,address{font-style:normal}
label,button{cursor:pointer}
button{margin:0;padding:0}
a{color:#222;text-decoration:none}
a:hover{text-decoration:none;}
button *{position:relative}
button img{left:-3px;*left:auto}
html:first-child select{height:20px;padding-right:6px}
option{padding-right:6px}
hr{display:none}
legend{*width:0}
table{border-collapse:collapse;border-spacing:0}
input::-ms-clear{display:none}


/*sesbank*/
body{font-family:'Nanum Gothic'}
#wrap {width:1000px; margin:0 auto;}


/*상단*/
#header {width:100%; }
#top {width:100%; height:20px; text-align:right; padding-top:5px; background:#eee; border-radius:0 0 20px 20px;}
#top a {padding-right:10px; font-size:11px;}

#navi {position:relative; width:100%; height:80px; padding-top:20px; text-align:left; border-bottom:2px solid #e7121c;}



/* 메인메뉴 영역 */
#navi .gnb   {position:absolute; bottom:20px; right:0; }
.gnb>ul{width:700px; height:30px;padding:20px 0 0 20px;}
.gnb>ul>li{ float:left; width:220px; height:30px; margin:0 5px;  position:relative;}
.gnb>ul>li>a{display:block; width:100%; height:100%; padding-top:20px; text-align:center; color:#fff; background:#e7121c; border-radius:20px 20px 0 0; }
.gnb ul li a:hover,.gnb ul li a.select{color:#000; background:#fff;border:2px solid #e7121c; border-bottom:#fff; border-radius:20px 20px 0 0;}



 
/* 서브메뉴 영역*/
.gnb ul ul{display:none}
.gnb>ul>li:hover ul {display:block; width:300px; height:50px;position:absolute; left:-58px; top:50px;}
.gnb>ul>li:hover ul li {width:100px;float:left; height:60px;}
.gnb li li{ height:25px;text-align:center; }
.gnb li li a{display:block; width:100%; height:100%;  padding:20px;}
.gnb li li a:hover{color:#111; background:none; border:none;}





/*본문*/
#contents {width:100%; padding:30px 0 100px 0;}  /* #e7121c */ 
#contents h1 {font-size:35px; letter-spacing:-0.1em; color:#D9C8BE; text-align:left; padding-bottom:20px;}
#contents h1 > span {font-size:14px; color:#999; padding-left:10px; letter-spacing:-0.08em;}



/*게시판공통*/
table {width:100%;}
#contents table tr:hover,#adm_contents table tr:hover {background:#eee;}
#contents table th, #contents table td,#adm_contents table th, #adm_contents table td {padding:10px;}
#contents table th, #adm_contents table th {background:#666; color:#fff;}
#contents table td, #adm_contents table td {border-bottom:1px solid #eee;}
#contents p.list_btn, #adm_contents p.list_btn {padding-top:50px; padding-bottom:40px;}
#contents p.list_btn a, #adm_contents p.list_btn a {padding:10px 20px; margin:0 3px; border:2px solid #eee; border-radius:20px;}
#contents p.list_btn a:hover, #contents p.list_btn a.select {border:2px solid #e7121c; background:#e7121c; color:#fff; font-weight:700;}
#adm_contents p.list_btn a:hover, #adm_contents p.list_btn a.select {border:2px solid #1759c6; background:#1759c6; color:#fff; font-weight:700;}



p.paging {position:relative; padding:30px 0; text-align:center;}
p.paging a {padding:10px; margin:0 3px; border:2px solid #eee; border-radius:20px;}
p.paging a:hover, p.paging a.select {border:2px solid #e7121c; background:#e7121c; color:#fff; font-weight:700;}
p.paging a.btn_write {position:absolute; top:17px; right:5px; padding:10px 20px;}


.board_title {width:600px; text-align:left;}

table.wr_board {border-top:1px solid #999;}
table.wr_board th {width:180px; background:#999; border-bottom:1px solid #ddd !important;}
table.wr_board td {text-align:left;}
table.wr_board td input {width:100%; height:20px; border:1px solid #eee; }
table.wr_board td textarea {width:100%; height:400px; border:1px solid #eee; resize:none;}

table.vw_board {border-top:1px solid #999;}
table.vw_board th {width:180px; background:#eee !important; color:#111 !important; border-bottom:1px solid #ddd !important;}
table.vw_board td {text-align:left;}
table.vw_board td input {width:100%; height:20px; border:1px solid #eee; }
table.vw_board td.table_contents {height:400px; vertical-align:top; padding:20px !important;}
table.vw_board tr:hover {background:none !important;}





/*로그인 및 회원가입*/
.login_area {position:relative; width:300px; margin:20px auto; padding:20px; text-align:left; border:1px solid #e7121c; border-radius:20px;}
.login_area .login_icon {position:absolute; top:-25px; left:145px; width:50px;}
.login_area span {font-size:20px; font-weight:700;}

.login_area ul { top:40px;}
.login_area ul > li {padding:3px 0;}

.login_write {width:95%;  padding:10px 0 10px 10px; font-size:13px; border:1px solid #eee;}
.join_write {width:60%;  padding:10px 0 10px 10px; font-size:13px; border:1px solid #eee;}
.id_check {display:inline-block; width:34%; height:18px; padding:9px 0 10px 0; font-size:13px; border:1px solid #d94343; background:#e7121c; text-align:center; color:#fff;}
.id_check:hover {background:#c03232;}

.btn_login {display:block; width:99%; padding-top:15px; height:30px; background:#d94343; text-align:center; color:#fff; font-weight:700;}
.btn_login:hover {background:#c03232;}

.btn_join {display:block; width:99%; padding-top:15px; height:30px; background:#4451a0; text-align:center; color:#fff; font-weight:700;}
.btn_join:hover {background:#2a357d;}

.btn_findid {color:#2a357d;}
.btn_findid:hover {text-decoration:underline;}

.btn_idfind {display:block; width:99%; padding-top:15px; height:30px; background:#52d148; text-align:center; color:#fff; font-weight:700;}

.findtitle_btn {display:inline-block; width:48.2%; height:30px; border:1px solid #eee; padding-top:13px; border-radius:15px 15px 0 0; text-align:center; background:#eee;}
.findtitle_btn:hover , a.tab {background:#52d148; color:#fff; font-weight:700; border:1px solid #52d148;}

.grp_area {height:25px; margin-top:10px; text-align:left;}
.grp_area label {padding:10px;font-size:13px;}

/*회원정보수정*/

.member_info {border:1px dotted red; border-radius:15px; padding:10px;}
.member_info li { margin-bottom:5px; text-align:left; padding:5px;}
.member_info li:hover {background:#eee;border-radius:15px; }
.member_info label {display:inline-block; width:100px; text-align:left; margin-right:20px;}
.member_info li input.login_write { width:300px; height:20px; padding:3px;}



/*신규계좌개설*/
.basic_list {border:1px dotted red; border-radius:15px; padding:10px;}
.basic_list li {text-align:left; padding:10px;}
.basic_list li:hover {background:#eee;border-radius:15px; }
.basic_list li span {display:inline-block; width:100px;}
.basic_list li .wr_account {width:250px; border:1px solid #ddd; padding-left:10px;}
.basic_list li a {display:inline-block; padding:4px 20px; margin:0 3px; border:1px solid #52d148; border-radius:10px; background:#52d148; color:#fff;}
.extext {padding-top:30px;}


.basic_list li .wr_date {width:100px; border:1px solid #ddd; padding-left:10px;}
.board_search select {width:80px; border:1px solid #ddd; font-size:12px; padding:3px 0;}
.board_search input {width:150px; border:1px solid #ddd; padding-left:10px; height:19px;}
.board_search a {display:inline-block; width:50px; border:1px solid #ddd; padding:3px 0 4px 0;}




/*관리자*/

#adm_contents {width:100%; padding:30px 0 100px 0;}
#adm_contents h1 {font-size:35px; letter-spacing:-0.1em; color:#1759c6; text-align:left; padding-bottom:20px;}
#adm_contents h1 > span {font-size:14px; color:#999; padding-left:10px; letter-spacing:-0.08em;}

#adm_navi {position:relative; width:100%; height:80px; padding-top:20px; text-align:left; border-bottom:2px solid #1759c6;}
#adm_navi ul {position:absolute; bottom:-2px; right:0; }
#adm_navi ul li {float:left; width:200px; padding:14px; background:#1759c6; text-align:center; border:2px solid #1759c6;  border-radius:20px 20px 0 0; margin:0 3px;}
#adm_navi ul li:hover, #adm_navi ul li.select {background:#fff; border-top:2px solid #1759c6;  border-right:2px solid #1759c6; border-left:2px solid #1759c6; border-bottom:2px solid #fff;}
#adm_navi ul li a{color:#fff;}
#adm_navi ul li:hover a, #adm_navi ul li.select a {color:#111; font-weight:700;}


table.adm_board {border-top:1px solid #1759c6; margin-top:30px;}
table.adm_board th {width:180px; background:#1759c6 !important; border-bottom:1px solid #fff;}
table.adm_board td {text-align:left; vertical-align:top; line-height:160%;}
table.adm_board span {font-size:10px;}
table.adm_board td textarea {width:630px; height:120px; border:1px solid #eee; resize:none;}
table.adm_board td .btn_reply {display:inline-block; width:120px; height:76px; text-align:center; font-weight:700; vertical-align:middle; border-radius:10px; background:#1759c6; color:#fff; padding-top:52px;}




p.adm_paging {padding:30px 0; text-align:center;}
p.adm_paging a {padding:10px; margin:0 3px; border:2px solid #eee; border-radius:20px;}
p.adm_paging a:hover, p.adm_paging a.select {border:2px solid #1759c6; background:#1759c6; color:#fff; font-weight:700;}
p.adm_paging a.btn_write {position:absolute; top:17px; right:5px; padding:10px 20px;}




/*하단*/
#footer {width:100%; padding:20px 0; background:#ddd; color:#111; line-height:160%;}






/*팝업*/




.popwrap h2 { width:100%; height:40px; margin-bottom:25px; padding-top:20px; color:#fff;}
.popwrap span {font-weight:700; font-size:15px; color:#006699;}
.popwrap p.list_btn {margin-top:20px;}
.popwrap p.list_btn a {padding:10px 20px; margin:0 3px; border:2px solid #eee; border-radius:20px;}
.popwrap p.list_btn a:hover, .popwrap p.list_btn a.select {border:2px solid #e7121c; background:#006699; color:#fff; font-weight:700;}

.wr_idcheck {border:2px solid #eee; height:30px; width:120px; border-radius:20px; padding-left:10px;}


.popwrap table {width:90%; margin:0 auto; border:1px solid #eee;}
.popwrap table th, .popwrap table td {padding:10px; border-bottom:1px solid #eee;}
.popwrap table th {background:#eee;}

#title_popup
{
   background:#006699;
}