@CHARSET "UTF-8";
header {
	width: 100%;
	background-color: blue;
	height: 100px;
	margin : 0px;
	position: fixed;
	top: 0px;
	left: 0px;
}
body {
    overflow:hidden;
}

#sec {
	display: inline-block;
	width: 90%;
	height: 250px;
	background-color: aqua;
	margin : 0px;
}
div.nav {
	display: inline-block;
	position: fixed;
	top: 100px;
	left: 200px;
	width: 100%;
	height: 250px;
	/* background-color: rgba(255, 255, 255, 0.0); */
	margin : 0px;
}
footer {
	width: 100%;
	height: 50px;
	position: fixed;
	bottom: 0px;
	left: 0%;
	background-color: green;
	margin : 0px;
}
div.div-dialog {
	display: none;
	position: fixed;
	top: 40%;
	left: 40%;
	width: 200px;
	height: 100px;
	background-color: green;
	z-index: 5;
}
#add {
	
}
#add:hover {
	
}
#load:hover {
	
}
#update:hover {
	
}
#move:hover {
	
}
/*
	css for modal window
*/
.modal-div {
	background-color: grey;
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.4);
	z-index: 3;
}

svg {
	background-image: url("../images/monun1.jpg");
}
circle {
	fill : rgba(0,255,0,0.7);
	opacity: 0.9;
	stroke-dasharray : "10,3";
    stroke : rgb(0,0,0);
}
.dragging {
	fill : yellow;
}
.selected {
	fill : rgba(0,0,255,0.8);
}
line {
	stroke : black;
	stroke-width : 1;
	shape-rendering: crispEdges;
	opacity: 0.1;
}
text {
	fill : black;
}